<div class="margin-top">
<h1><%= @recitment.title %></h1>

<table>
	<tr>
		<th>ユーザー名</th>
		<td><%= @recitment.user.nickname %></td>
	</tr>

	<tr>
		<th>タイトル</th>
		<td></td>
	</tr>

	<tr>
		<th>ランニングコース</th>
		<td></td>
	</tr>

	<tr>
		<th>集合時間</th>
		<td></td>
	</tr>

	<tr>
		<th>走行時間</th>
		<td></td>
	</tr>

	<tr>
		<th>募集人数</th>
		<td></td>
	</tr>

	<tr>
		<th>連絡事項</th>
		<td><%= @recitment.comment %></td>
	</tr>

	<tr>
		<th>更新日</th>
		<td><%= @recient.created_at %></td>
	</tr>
</table>

<table>

	<tr>
		<th>男女比</tr>
		<td></td>
	</tr>

</table>

</div>


