<div class="width">
	<h3>応募一覧</h3>
	<table class="table table-hover table-inverse　table-bordered">
		<thead>
			<tr>
				<th>応募タイトル</th>
				<th>募集時間</th>
			</tr>
		</thead>
		<tbody>
			<% @user.offers.each do |f|%>
			<tr>
				<td><%= link_to f.recitment.title, recitment_path(f.recitment) %></td>
				<td><%= f.recitment.runtime.strftime("%Y-%m-%d %H:%M") %></td>
			</tr>
			<% end %>
		</tbody>
	</table>


